.box {
    width: 500px;
}

.grid {
    display: grid;

    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50px 50px 50px 50px 50px 30px;
}

.grid div {
    background-color: red;
    border: 1px solid black;
}

#item6 {
    grid-column: 1 / 4;
    grid-row: 3;
    background-color: green;
}

#item7 {
    grid-column: 1;
    grid-row: 4 / 7;
    background-color: green;
}

#item8 {
    grid-column: 2;
    grid-row: 4;
    background-color: green;
}

#item9 {
    grid-column: 3;
    grid-row: 4;
    background-color: green;
}

#item10 {
    grid-column: 2;
    grid-row: 5;
    background-color: green;
}