body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    max-width: 500px;
    border: 2px solid gold;
    height: 100vh;
    box-sizing: border-box;

    section {
        border: 1px solid black;
        flex-basis: 100%;
    }
}

.leftSide {
    button {
        width: 100%;
        height: 25px;
    }
    ul {
        margin: 10px;
        li {
            padding: 5px;
            margin: 5px 0;
            background-color: whitesmoke;
            cursor: pointer;

            &:hover {
                background-color: white;
            }
        }
    }
}

.rightSide {
    padding: 0 5px;

    h1 {
        height: 25px;
        line-height: 25px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    h2 {
        min-height: 25px;
        line-height: 25px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    label {
        display: block;
    }

    input,
    textarea {
        display: block;
        width: 100%;
        resize: none;
        padding: 0;
        margin: 0 0 10px 0;
        border-radius: 3px;
        border: 1px solid silver;
    }
}
