@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body {
    font-family: 'Roboto' !important;
}

.jokeSection {
    padding: 20px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: whitesmoke;
}

.jokeSection button {
    margin: 5px 0px;
}

.colorSection .topColor {
    background-color: red;
    width: 100%;
    height: 100px;
}

.sideBySide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sideBySide .leftColor {
    background-color: green;
    height: 100px;
    width: 100%;
}

.sideBySide .rightColor {
    background-color: blue;
    height: 100px;
    width: 100%;
}