.mainNav {
    border-bottom: 1px solid black;
    padding: 10px;

    > * {
        font-family: "Courier New", Courier, monospace;
        font-size: 20px;
        text-decoration: none;
        color: lightpink;
    }
}

.songBook {
    margin: 10px;

    display: flex;
    flex-direction: row;

    .songList {
        min-width: 250px;
        max-width: 250px;
        display: flex;
        flex-direction: column;
        border-right: 1px solid black;
        padding-right: 20px;
        width: fit-content;
        margin: 10px;

        a {
            text-decoration: none;
            color: green;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            margin: 5px;
            padding: 5px;
            background-color: whitesmoke;
        }
    }

    .song {
        margin: 10px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }
}
