body {
    font-family: "Courier New", Courier, monospace;
    margin: 50px;
}

.board {
    width: 500px;
    height: 500px;
    border: 5px inset;
    padding: 5px;
    margin: 20px 0;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    background-color: rgba(0, 0, 0, 0.8);

    .box {
        border: 5px outset;
        border-radius: 5px;
        margin: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 30px;
        user-select: none;
        cursor: pointer;
        background-color: white;

        &:hover {
            background-color: black;
            color: purple;
            transition: 1300ms;
        }
    }
}

.resetButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: none;

    .resetButton {
        position: relative;
        width: 80px;
        height: 40px;
        border: 1px solid purple;
        border-radius: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: black;
            color: purple;
            transition: 150ms;
            user-select: none;
            cursor: pointer;
        }
    }

    .gameOverText {
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }
}
