#list div {
    margin: 20px;
    padding: 10px;
    background-color: whitesmoke;
    text-transform: uppercase;
    border: solid 1px black;
    cursor: pointer;
    user-select: none;
}

#list .completedTask {
    margin: 20px;
    padding: 10px;
    background-color: whitesmoke;
    text-transform: uppercase;
    border: solid 1px black;
    cursor: pointer;
    color: gray;
    text-decoration: line-through;
}