@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body .loginSection {
    padding-left: 40px;
    margin-top: 40px;
}

header {
    padding-left: 40px;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
    color: black;
    font-size: 28px;
    padding-top: 10px;
    max-height: 40px;
}

h1 {
    margin: 0;
    width: fit-content;
    position: relative;
}

h1 span {
    font-size: 20px;
    border: solid black 5px;
    border-radius: 6px;
    background-color: teal;
    cursor: pointer;
    margin: 0 0 5px 20px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 180px;
    width: fit-content;
    white-space: wrap;
    padding: 5px;
}

body {
    font-family: Verdana;
    background-color: #EFF1F1;
    max-width: 800px;
    border-right: 1px black solid;
}

footer {
    position: absolute;
    color: red;
    padding-left: 20px;
    font-size: 12px;
    bottom: 5px;
    left: -10px;
}

figure {
    max-width: 160px;
    border: 1px solid yellowgreen;
}

figure img {
    width: 100%;
    border-radius: 6px;
    background-color: blue;
    margin: 0.5em 1em;
    padding: 0.5em;
}

form label {
    min-width: 200px;
}

form input {
    margin-bottom: 5px;
}

.tableContainer {
    margin-top: 20px;
}

.tableContainer table {
    padding-top: 10px;
}

.tableContainer label {
    border-bottom: 1px solid black;
}

.tableContainer td {
    border: solid black 1px;
}

.article1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.article1 section {
    flex-grow: 1;
    flex-basis: 0;
}

li:nth-child(odd) {
    background-color: black;
    border: 2px transparent solid;
}

li:nth-child(odd) span {
    color: white;
}

li:nth-child(even) {
    background-color: white;
    border: 2px rgb(255, 0, 255) solid;
    box-sizing: content-box;
}