label {
    padding: 0 5px 0 0;
}

.form {
    font-family: 'Courier New', Courier, monospace;

    legend {
        font-weight: bold;
        margin: 5px 0;
    }

    section {
        max-width: 200px;
    }

    section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}