.bacContainer {
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    width: 355px;
}

.bacContainer h1 {
    font-size: 25px;
    padding: 5px 0;
    margin: 0;
}

.bacContainer div {
    margin-bottom: 10px;
}