.box {
    width: 500px;
    height: 100px;
}

.rows {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.rows .row1,
.rows .row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.rows .row1 div {
    background-color: red;
    width: 100%;
    height: 50px;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid black;
}

.rows .row2 div {
    background-color: blue;
    height: 50px;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    border: 1px solid black;
}

#seven {
    flex-grow: 2;
}

.bootstrapRows {
    border: 1px solid black;
}

.bootstrapRows div div {
    border: 1px solid black;
}